.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
extensions/
build/
test/
extensions/**/dist/
/out*/
.github/
resources
/extensions/**/out/
build/node_modules
coverage/
test_data/
test-results/
yarn-error.log
vscode.lsif
vscode.db
/.profile-oss
